# Logs
logs
*.log
npm-debug.log*

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Dependency directories
node_modules/

# Dotenv
local.env